.doors {
	color: #e5e5e5;
	font-size: 20px;
	padding-top: 3px;
}

.container {
	font-size: 18px;
	font-family: Arial, Helvetica;
  color: #fff;
}

.outside {
	background-color: #4286f4;
	font-family: Arial;
	font-stretch: 1px;
	border-radius: 12px;
	border-top: 5px;
}

.outside active {
	background-color: #fff;
	font-family: Georgia;
	font-stretch: 2px;
	border-radius: 10px;
}

.inside {
	background-color: #89e5a0;
	font-family: Georgia;
	font-stretch: 2px;
	border-radius: 10px;
}

.inside active {
	background-color: #a089e5;
	font-family: Helvetica;
	font-stretch: 2px;
	border-radius: 10px;
}